{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}Manage Comments{% endblock %}


{% block content %}
    <div class="page-header">
        {# 总评论数 #}
        <h1>Comments
            <small class="text-muted">{{ pagination.total }}</small>
        </h1>

        {# 添加导航栏 #}
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Filter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.args.get('filter', 'all') == 'all' %} active{% endif %}"
                   href="{{ url_for('admin.manage_comment', filter='all') }}">All</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.args.get('filter') == 'unread' %} active{% endif %}"
                   href="{{ url_for('admin.manage_comment', filter='unread') }}">Unread
                    {% if unread_comments %}
                        <span class="badge badge-success">{{ unread_comments }}</span>
                    {% endif %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.args.get('filter') == 'admin' %} active{% endif %}"
                   href="{{ url_for('admin.manage_comment', filter='admin') }}">From Admin</a>
            </li>
        </ul>
    </div>

    <div class="container">
        {% if comments %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Author</th>
                        <th>Post Title</th>
                        <th>Body</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>

            {% set per_page = config.BLUELOG_MANAGE_COMMENT_PER_PAGE %}
            {% for comment in comments %}
                <tr {% if not comment.reviewed %}class="table-warning" {% endif %}>
                    <td>{{ loop.index + ((pagination.page-1)*per_page) }}</td>
                    <td>
                        {% if comment.from_admin %} {{ admin.name }} {% else %} {{ comment.author }} {% endif %}<br>
                        {% if comment.site %}
                            <a href="{{ comment.site}}" target="_blank">{{ comment.site }}</a><br>
                        {% endif %}
                        {% if comment.email %}
                            <a href="mailto:{{ comment.email }}" >{{ comment.email }}</a><br>
                        {% endif %}
                        {% if comment.from_admin %}
                            <span class="badge badge-primary">Author</span>
                        {% endif %}
                    </td>
                    <td><a href="{{ url_for('blog.show_post', post_id=comment.post.id) }}" target="_blank">{{ comment.post.title|truncate(25) }}</a></td>
                    <td><a href="{{ url_for('blog.show_post', post_id=comment.post.id) }}" target="_blank">{{ comment.body|truncate(25) }}</a></td>
                    <td>{{ moment(comment.timestamp).format('L') }}</td>
                    <td>
                        {# 将过滤类型（admin,unread,all）和当前页数传递到后台，解决删除最后一页时找不到原来页的问题 #}
                        {% set filtertype = request.args.get('filter') %}
                        {% set current_page = pagination.page %}
                        <form class="inline" method="post" action="{{ url_for('admin.delete_comment', comment_id=comment.id, next=request.full_path, filter=filtertype, current_page=current_page) }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            {# 删除评论 #}

                            <button type="submit" class="btn btn-danger btn-sm float-right" onclick="return confirm('Are you sure to delete this comment?');">Delete</button>
                        </form>

                        {# 只要是未评审的，无论在哪个过滤条件下，都可以显示Approve按钮 #}
                        {% if not comment.reviewed %}
                            <form class="inline" method="post" action="{{ url_for('admin.approve_comment', comment_id=comment.id, next=request.full_path) }}">
                                {# CSRF保护 #}
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                {# 评审评论 #}
                                <button type="submit" class="btn btn-success btn-sm float-right marginright">Approve</button>
                            </form>
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
            </table>
            <div class="page-footer">{{ render_pagination(pagination) }}</div>
        {% else %}
            <div class="tip"><h5>No comments</h5></div>
        {% endif %}
    </div>
{% endblock %}
