{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}Settings{% endblock %}

{% block content %}
    <div class="page-header">
        <h1 class="display-3">Settings</h1>
    </div>
    <div class="row">
        <div class="col-sm-12">
           {{ render_form(form) }}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {# 加载富文本编辑器 #}
    <script type="text/javascript" src="{{ url_for('static', filename='ckeditor/full/ckeditor.js') }}"></script>
    {# 加载CKEditor配置 #}
    {{ ckeditor.config(name='about') }}
{% endblock %}