{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}{{ post.title}}{% endblock title %}
{% block content %}
<div class="page-header">
    <h1>{{ post.title }}</h1>
    {% if current_user.is_authenticated %}
        {# 只有登陆后，才能显示出编辑按钮和删除按钮 #}
        <form class="inline" method="post" action="{{ url_for('admin.delete_post', post_id=post.id, next=url_for('blog.index')) }}">
            {# CSRF保护 #}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            {# 删除文章 #}
            <button type="submit" class="btn btn-danger btn-sm float-right" onclick="return confirm('Are you sure to delete this post?');">Delete</button>
        </form>
        {# 编辑文章 #}
        <a type="button" class="btn btn-info btn-sm float-right marginright" href="{{ url_for('admin.edit_post', post_id=post.id, next=request.full_path) }}">Edit</a>
    {% endif %}

    <small>
        Category:<a href="{{ url_for('blog.show_category', category_id=post.category.id) }}">{{ post.category.name }}</a>
    Date: {{ moment(post.timestamp).format('LLL') }}
    </small><br>
</div>
<div class="row">
    <div class="col-sm-8">
        {{ post.body|safe }}
        <hr>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target=".postLinkModal">Share</button>
        <div class="modal fade postLinkModal" tabindex="-1" role="dialog"  aria-hidden="true">
            {# 弹出对话框 #}
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Permalink
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" class="form-control" id="shareurl" value="{{ url_for('blog.show_post', post_id=post.id, _external=True) }}" readonly>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-primary" data-dismiss="modal">Close(关闭)</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="comments" id="comments">
            {# 评论显示部分 #}
            <h3>{{ comments|length }} / {{ sum_comments|length }} Comments &nbsp;&nbsp;
                {{ pagination.page }} / {{ pagination.pages }} Pages
                <small>
                    <a href="{{ url_for('blog.show_post', post_id=post.id, page=pagination.pages or 1) }}#comments">latest</a>
                </small>

                {# 只有管理员能才开启或禁用评论，因此需要登陆 #}
                {% if current_user.is_authenticated %}
                    {# 启用/禁用评论 #}
                    {# 只有登陆的管理员能够关闭评论功能 #}
                    <form class="float-right" method="post" action="{{ url_for('admin.set_comment', post_id=post.id, next=request.full_path) }}">
                        {# CSRF保护 #}
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        {% if post.can_comment %}
                            <button type="submit" class="btn btn-warning btn-sm float-right">
                                Disable Comment
                            </button>
                        {% else %}
                            <button type="submit" class="btn btn-info btn-sm float-right">
                                Enable Comment
                            </button>
                        {% endif %}
                    </form>
                {% endif %}
            </h3>
            {% if comments %}
                <ul class="list-group">
                    {% for comment in comments %}
                        <li class="list-group-item list-group-item-action flex-column">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">
                                    <a href="{% if comment.site %} {{ comment.site }} {% else %}# {% endif %}" target="_blank">
                                        {% if comment.from_admin %}
                                            {{ admin.name }}
                                        {% else %}
                                            {{ comment.author }}
                                        {% endif %}
                                    </a>
                                    {% if comment.from_admin %}
                                        <span class="badge badge-primary">Author(楼主)</span>
                                    {% endif %}
                                    {% if comment.replied %}
                                        <span class="badge badge-primary">Repied the comment(回复)</span>
                                    {% endif %}
                                </h5>
                                <small data-toggle="tooltip" data-placement="top" data-delay="500"
                                    data-timestamp="{{ comment.timestamp.strftime('%Y-%m-%dT%H:%M:%SZ') }}">
                                    {{ moment(comment.timestamp).fromNow() }}
                                </small>
                            </div>
                            {% if comment.replied %}
                                {# 显示评论回复的作者信息及评论回复的内容 #}
                                <p class="alert alert-dark reply-body">
                                   <strong>{{ comment.replied.author }}</strong> :<br>{{ comment.replied.body }}
                                </p>
                            {% endif %}

                            {# 评论内容 #}
                            <p class="mb-1">{{ comment.body }}</p>

                            {# 显示回复评论的按钮 #}
                            <div class="float-right">
                                {% if post.can_comment %}
                                    {# 获取当前页的page数，解决点击Reply跳转到第1页的问题 #}
                                    {% set current_page = request.args.get('page', 1) %}
                                    <a class="btn btn-light btn-sm marginright" href="{{ url_for('blog.reply_comment', comment_id=comment.id, page=current_page) }}">Reply</a>
                                {% endif %}
                                {% if current_user.is_authenticated %}
                                    {# 只有登陆的管理员能够删除评论 #}
                                    <form class="inline" method="post" action="{{ url_for('admin.delete_comment', comment_id=comment.id, next=request.full_path) }}">
                                        {# CSRF保护 #}
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                        {# 删除评论 #}
                                        <button type="submit" class="btn btn-danger btn-sm float-right marginright" onclick="return confirm('Are you sure to delete this comment?');">Delete</button>
                                    </form>

                                    {# 如果评论没有评审，则显示Approve按钮 #}
                                    {% if not comment.reviewed %}
                                        <form class="inline" method="post" action="{{ url_for('admin.approve_comment', comment_id=comment.id, next=request.full_path) }}">
                                            {# CSRF保护 #}
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                            {# 评审评论 #}
                                            <button type="submit" class="btn btn-primary btn-sm float-right marginright">Approve</button>
                                        </form>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="tip"><h5>No Comment.</h5></div>
            {% endif %}
        </div>

        {# 分页对象 #}
        {% if comments %}
            {{ render_pagination(pagination, fragment='#comments') }}
        {% endif %}

        {% if request.args.get('reply') %}
            <div class="alert alert-dark">
                Reply to <strong>{{ request.args.get('author') }}</strong>:
                <a class="float-right" href="{{ url_for('blog.show_post', post_id=post.id) }}">Cancel(取消)</a>
            </div>
        {% endif %}

        {# 评论表单 #}
        {% if post.can_comment %}
            <div id="comment-form">
                {{ render_form(form, action=request.full_path) }}
            </div>
        {% else %}
            <div class="tip"><h5>Comment disabled.</h5></div>
        {% endif %}
    </div>

    {# 侧边栏 #}
    <div class="col-sm-4 sidebar">
        {% include "blog/_sidebar.html" %}
    </div>
</div>
{% endblock content %}


